@model InventoryManagementSystem.Models.Warehouse

@{
    ViewBag.Title = "Create";
}

 



<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Warehouse => @Model.Action</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Warehouse</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @if (Model.Id > 0)
            {
                @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", hidden = "hidden" } })
            }

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SupplierId, "SupplierId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SupplierId", (SelectList)ViewBag.Suppliers, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })

                </div>
            </div>
        </div>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
